name: grpc_on_k8s_example_-_build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push ${{ matrix.apps }}
      id: docker_build
      uses: docker/build-push-action@v1
      with:
        context: ./.
        file: ./src/${{ matrix.apps }}/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:latest, ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:1.0.2
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_WRITETOKEN }}
        registry: docker.pkg.github.com
        repository: ${{ github.repository }}/grpc-for-wcf-developers
        tag_with_sha: true
        tag_with_ref: true

