name: grpc_on_k8s_example_-_build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_WRITETOKEN }}
        registry: ghcr.io
    - name: Build and push ${{ matrix.apps }}
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./.
        file: ./src/${{ matrix.apps }}/Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/${{ matrix.apps }}:latest, ghcr.io/${{ github.repository_owner }}/${{ matrix.apps }}:1.0.2
        tag_with_sha: true
        tag_with_ref: true
