name: grpc on k8s example - deploy


on: 
  push:
    branches: [ '*' ]

jobs:  
  Deploy:
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: actions/checkout@v2
    - uses: azure/k8s-set-context@v1
      with:
        method: service-account
        k8s-url: https://aks-temp-dns-4e3bd399.hcp.westeurope.azmk8s.io:443
        k8s-secret: ${{ secrets.KUBE_SECRET }}
      id: setcontext
    - name: deploy to aks
      uses: Azure/k8s-deploy@v1.3
      with:
        namespace: 'stocks'
        manifests: |
            ./kubernetes/namespace.yml
            ./kubernetes/${{ matrix.apps }}.yml
        images: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:latest
        kubectl-version: 'latest'


