name: grpc_on_k8s_example_-_deploy


on:
  registry_package:
    types: [published, updated]
  workflow_dispatch:
  workflow_run:
    workflows: ["grpc_on_k8s_example_-_build"]

jobs:  
  Deploy:
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: actions/checkout@v2
    - uses: azure/aks-set-context@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
        cluster-name: 'aks-temp'
        resource-group: 'aks-temp'
    - name: deploy to aks
      uses: Azure/k8s-deploy@v1.3
      with:
        namespace: 'stocks'
        manifests: |
            ./kubernetes/${{ matrix.apps }}.yml
        images: ghcr.io/vergiet/${{ matrix.apps }}:latest
        kubectl-version: 'latest'