name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '5.0.x' ]

    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push StockData
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./KubernetesSample/src/StockData
        file: ./KubernetesSample/src/StockData/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/StockData:latest, ${{ secrets.DOCKERHUB_USERNAME }}/StockData:1.0.0
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
    - name: Build and push StockWeb
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./KubernetesSample/src/StockWeb
        file: ./KubernetesSample/src/StockWeb/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/StockWeb:latest, ${{ secrets.DOCKERHUB_USERNAME }}/StockWeb:1.0.0
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

