name: grpc on k8s example

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push ${{ matrix.apps }}
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./.
        file: ./src/${{ matrix.apps }}/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:latest, ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:$GITHUB_RUN_ID
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

jobs:
  Deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ['stockdata', 'stockweb']

    steps:
    - uses: Azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
    - name: deploy to aks
      uses: Azure/k8s-deploy@v1.3
      with:
        manifests: |
            kubernetes\namespace.yml
            kubernetes\${{ matrix.apps }}.yml
        images: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.apps }}:latest
        kubectl-version: 'latest'


